#wrapConfigTab {
	width: 95%;
	height: auto;
	float: left;
}
legend {background: none; border:none; color:#383838;}
fieldset {float: left; background: none; border: none;}
fieldset img {vertical-align: middle;}
fieldset span { font-weight: bold; color: #999999;}
fieldset label, fieldset p a {font-size: 0.8em;}

tr, td { font-size: 0.8em;}

label.t { font-weight: normal;}