<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>uppsauthservice</name>
	<displayName><![CDATA[UPPS Authentification Service]]></displayName>
	<version><![CDATA[0.9]]></version>
	<description><![CDATA[UPPS CAS or Shibboleth Authentification.]]></description>
	<author><![CDATA[PrestaTer - Sixandstart]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>